<%- include('../head.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://bundle.run/buffer@6.0.3" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@hexagon/base64@1/dist/base64.min.js"></script>
    <script src='https://unpkg.com/bignumber.js'></script>
    <script src='https://unpkg.com/cbor-web'></script>
  </head>
  <body class="h-100">
    <div class="container-sm h-100">
      <div class="row h-100">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 align-self-center">
          <h1>IntMedium Signin</h1>
      
          <!-- If not currently logged into IntMedium -->
          <div id="loginPrompt">
            <p>You are not currently signed into IntMedium.</p>
            <ul>
              <li class="btn btn-primary m-1" id="createNewAccount">Create a new account</li>
              <li class="btn btn-primary m-1" id="chooseDifferentAccount">Sign into a different account</li>
              <li class="btn btn-secondary m-1" id="recoverAccount">Recover account from backup</li>
            </ul>
          </div>

          <!-- If IntMedium account detected -->
          <div id="loginConf">
            <ul>
              <p>You are currently signed in as <code id="userName"></code></p>
              <li id="continueWithAccount">Continue as <code id="userName"></code></li>
              <li id="chooseDifferentAccount">Sign into a different account</li>
              <li id="recoverAccount">Recover account from backup</li>
            </ul>
          </div>
      
          <!-- Register new account -->
          <div id="accountRegistrationForm">
            <legend>Request a unique username.</legend>
            <input id="newUsernameInput" name="username" type="text">
            <button class="btn btn-disabled" type="button" id="registerAccount">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="registerAccountSpinner"></span>
              Create account
            </button>
          </div>

          <!-- Private key prompt -->
          <div id="privKeyPrompt">
            <button class="btn btn-primary" type="button" id="privKeyButton">
              <span id="privKeyGenCase">Create Address</span>
              <span id="privKeyTxCase">Sign Transaction</span>
            </button>
          </div>
      
          <!-- Switch to different account -->
          <div id="switchAccountForm">
            <legend>Enter username of account to log into.</legend>
            <input id="altUsernameInput" type="text">
            <div id="logIntoAccount">Log into account</div>
          </div>

          <!-- Recover account -->      
          <div id="recoverAccountForm">
            <p>Recover using credential</p>
            <input id="recoverWithCred" type="text">
            <p>Recover using private key</p>
            <input id="recoverWithPk" type="text">
            <div id="recoverAccount">Recover account</div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/fidoTools.js" type="text/javascript"></script>
    <script src="/js/auth.js" type="text/javascript"></script>
  </body>
</html>
