<%- include('../head.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://bundle.run/buffer@6.0.3" type="text/javascript"></script>
    <script src='https://unpkg.com/bignumber.js'></script>
    <script src='https://unpkg.com/cbor-web'></script>
  </head>
  <body>
    <h1>IntMedium Signin</h1>

    <div id="loginPrompt">
      <p>You are not currently signed into IntMedium.</p>
      <ul>
        <li id="createNewAccount">Create a new account</li>
        <li id="chooseDifferentAccount">Sign into a different account</li>
        <li id="recoverAccount">Recover account from a different device</li>
      </ul>
    </div>

    <div id="accountRegistrationForm">
      <legend>Request a unique username.</legend>
      <input id="newUsernameInput" type="text">
      <div id="registerAccount">Create account</div>
    </div>

    <div id="loginConf">
      <ul>
        <p>You are currently signed in as <code id="userName"></code></p>
        <li id="continueWithAccount">Continue as <code id="userName"></code></li>
        <li id="chooseDifferentAccount">Sign into a different account</li>
        <li id="recoverAccount">Recover account from a different device</li>
      </ul>
    </div>

    <div id="switchAccountForm">
      <legend>Enter username of account to log into.</legend>
      <input id="altUsernameInput" type="text">
      <div id="logIntoAccount">Log into account</div>
    </div>

    <div id="recoverAccountForm">
      <p>Recover using credential</p>
      <input id="recoverWithCred" type="text">
      <p>Recover using private key</p>
      <input id="recoverWithPk" type="text">
      <div id="recoverAccount">Recover account</div>
    </div>

    <script src="/js/fidoTools.js" type="text/javascript"></script>
    <script src="/js/auth.js" type="text/javascript"></script>
  </body>
</html>
