<div id="accountRegistrationForm">
  <legend>Request a unique username.</legend>
  <input class="w-100 form-control" id="newUsernameInput" name="username" type="text">
  <button class="btn btn-disabled" type="button" id="registerAccount">
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="registerAccountSpinner"></span>
    Create account
  </button>
</div>