<div id="connectLoginNotDetected">
  <p>You are not currently signed into Lappsnet.</p>
  <ul>
    <li class="btn btn-success m-1 createNewAccount">Create new account</li>
    <li class="btn btn-success m-1" id="logIn">Login by username</li>
  </ul>
  <p class="m-1">Can't login? <strong class="recoverAccount strongBtn">Recover account</strong></p>
  <p class="mt-4 text-center"><a href="/"><strong class="navBtn">About</strong></a></p>
  <p class="mt-4 text-center"><a href="/docs"><strong class="navBtn">Documentation</strong></a></p>
</div>