<div class="modal" id="logoutModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign out?</h5>
        
      </div>
      <div class="modal-body">
        <p>We strongly suggest you back up your account before signing out.</p>
        <p>If your browser data is cleared, this is the only way to recover your account.</p>
        <button type="button" class="btn btn-primary backUpKey">Back up</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger logOutBtn">Log out</button>
        <button type="button" class="btn btn-secondary cancelLogout" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>