<div class="modal" id="signMessageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign message</h5>
        
      </div>
      <div class="modal-body">
        <p>Sign the below message to complete the action.</p>
        <p>Do NOT sign the message if it looks complicated!</p>
        <textarea id="signMessageInput" disabled></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary signMessageBtn">Sign & Return</button>
        <button type="button" class="btn btn-secondary cancelSignMessage" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>