<div id="switchAccountForm">
  <legend>Enter username of account.</legend>
  <input class="form-control w-100" id="altUsernameInput" type="text">
  <div class="btn btn-success" id="logIntoAccount">Log into account</div>
</div>