<!DOCTYPE html>
<html>
<!-- Generated using StackEdit https://stackedit.io -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome file</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h1 id="lappsnet-wallet">Lappsnet Wallet</h1>
<p>Wallet for interacting with Lappsnet, an experimental network of smart contracts for Lightning Network users.</p>
<h2 id="table-of-contents">Table of Contents</h2>
<ul>
<li><a href="#user-instructions">User Instructions</a></li>
<li><a href="#integration-instructions">Integration Instructions</a></li>
</ul>
<h2 id="user-instructions">User instructions</h2>
<h3 id="create-key">Create key</h3>
<p>Visit <code>&lt;lappsnet wallet hostname&gt;/auth</code> to create an account.</p>
<p>Your browser will generate a private key, which is then encrypted using your security chip.<br>
(Screen lock, Yubikey, etc.)</p>
<p>You register a username with Lappsnet Wallet’s servers, which stores the encryption key for you.<br>
The encrypted private key is stored in your browser.</p>
<p>Finally, back up your private key, secured by a password, in your password manager.</p>
<h3 id="connect-wallet-to-dapp">Connect wallet to dApp</h3>
<p>Click on the ‘Connect’ button provided by the dApp.</p>
<p>Once on Lappsnet Wallet, you will be asked whether to continue with the current account.</p>
<p>Once you choose your option, you will be shown the message to sign.</p>
<p>It should look something like <code>nonce: asdfasdfasdf</code> or <code>asdfasdfasdf</code>.<br>
If it looks like it could be something unintended, DO NOT SIGN.</p>
<p>Otherwise, sign it and you should be redirected to the dApp as a logged in user.</p>
<h3 id="sign-transaction">Sign transaction</h3>
<p>If the dApp prepares a transaction for you to sign, follow the link.</p>
<p>Once on IntMedium Identity, check the contents of the transaction before signing.<br>
THIS IS CRUCIAL!</p>
<p>If the transaction looks fine (destination address, amount, etc.), sign it.</p>
<p>The transaction will be broadcast, and the dapp will be notified.</p>
<h3 id="create-transaction">Create transaction</h3>
<p>You can also initiate transactions yourself.</p>
<p>Follow a link to <code>wallet.lappsnet.io/auth</code> and you will be met with<br>
the usual account options.</p>
<p>Once you proceed, there is a form where you can craft transactions.<br>
Choose whether you want to send SATs (the native currency of IntMedium), or other tokens.</p>
<p>TIP: Click on a token in the list of tokens you own to create a transaction for that token!</p>
<p>Once done, the signed transaction will be submitted to the network.</p>
<h3 id="call-contract">Call contract</h3>
<p>You can also make contract calls directly from within IntMedium Identity!</p>
<p>For this, you must specify the contract address, method, and enter parameters as necessary.<br>
Some operations may cost gas, while others may be free. You will be shown an estimated gas cost when confirming.</p>
<p>Contract address may also be provided as a query string in the URL.</p>
<p>After entering the contract address, click ‘load’ to get a list of methods.</p>
<p>Note: Only contracts verified on the <a href="https://explorer.lappsnet.io">explorer</a> can be called this way.</p>
<p>You will see the result of a contract call in a success or error message at the top of the page.</p>
<h2 id="how-to-recover">How to recover</h2>
<p>There are three main cases where you may need to recover your wallet.</p>
<p>NOTE: The last one requires your password manager to be set up on multiple devices.</p>
<h3 id="lappsnet-wallet-server-unavailable">Lappsnet Wallet server unavailable</h3>
<p>In case the server is unavailable, a locally hosted or cached version of Lappsnet Wallet will be sufficient to recover your private key.</p>
<p>Since you cannot authenticate with the server, you must recover your private key from the encrypted backup stored in your password manager. Decrypt with the secret phrase you set when creating the backup.</p>
<h3 id="browser-data-cleared">Browser data cleared</h3>
<p>When you 'clear browsing data' from the settings menu, some browsers will delete your encrypted key.<br>
In such case, authenticating with our servers will not help you, as you have no key to decrypt.</p>
<p>Recover your private key from the encrypted backup stored in your password manager.<br>
Decrypt with the secret phrase you set when creating the backup.</p>
<h3 id="security-device-lost-broken">Security device lost/broken</h3>
<p>If the security device (e.g. screen lock, YubiKey) is lost or broken, you will not be able to authenticate with the server.</p>
<p>Particularly, if you set up Lappsnet Wallet on your phone, you could lose or break your phone.</p>
<p>In such case, you will need to recover from the encrypted backup stored in your password manager.<br>
To prevent total loss, make sure your password manager is shared among multiple devices, e.g. your computer or another phone.</p>
<h2 id="integration-instructions">Integration instructions</h2>
<p>There are 5 operations available, all initiated by a user opening a link in a new tab.</p>
<h3 id="connect-wallet">Connect wallet</h3>
<p>Path: <code>https://wallet.lappsnet.io/auth</code></p>
<p>REQUIRED Query parameters: <code>connect=true</code>, <code>nonce=&lt;nonce&gt;</code>, <code>callbackUrl=&lt;encodeURIComponent(callback url)&gt;</code></p>
<p>Generate a nonce for each wallet connection attempt.</p>
<p>The user will follow the link, sign the nonce with their account, and a callback will return <code>{ signature, publicAddress }</code><br>
to the specified URL.</p>
<p>Verify signature.</p>
<h3 id="sign-and-broadcast-transaction">Sign and broadcast transaction</h3>
<p>Path: <code>https://wallet.lappsnet.io/auth</code></p>
<p>REQUIRED Query parameters: <code>signTx=true</code>, <code>txData=&lt;base64URL encoded tx&gt;</code></p>
<p>OPTIONAL Query parameters: <code>callbackUrl=&lt;encodeURIComponent(callback url)&gt;</code></p>
<p>The user is asked to sign and broadcast the transaction provided in the <code>txData</code> parameter.</p>
<p>The <code>txhash</code> will be sent to the callback url if specified. Verify if necessary.</p>
<h3 id="create-transaction-1">Create transaction</h3>
<p>Path: <code>https://wallet.lappsnet.io/auth</code></p>
<p>REQUIRED Query parameters: <code>createTx=true</code></p>
<p>OPTIONAL Query parameters: <code>amount=&lt;number of tokens, NOT Wei&gt;</code>, <code>to=&lt;recipient address&gt;</code>, <code>contractAddress=&lt;ERC20 token contract&gt;</code>,<br>
<code>callbackUrl=&lt;encodeURIComponent(callback url)&gt;</code></p>
<p>The user is asked to create a transaction. Defaults to sending SATs (IntMedium’s native token), unless <code>contractAddress</code> is specified.</p>
<p>All parameters given are entered in the form presented to the user, but the user may edit these values.</p>
<p>Once the user creates, signs, and broadcasts their transaction, <code>txhash</code> will be sent to callback url if specified.<br>
Verify if necessary.</p>
<h3 id="call-contract-contract-must-be-verified-on-explorer">Call contract (Contract MUST BE VERIFIED on <a href="https://explorer.intmedium.xyz">explorer</a>)</h3>
<p>Path: <code>https://wallet.lappsnet.io/auth</code></p>
<p>REQUIRED Query parameters: <code>callContract=true</code></p>
<p>OPTIONAL Query parameters: <code>contractAddress=&lt;contract address&gt;</code></p>
<p>You can send users to make contract calls on their own.</p>
<p>If <code>contractAddress</code> is specified, the user will be shown a list of methods for that contract.<br>
Otherwise, the user must provide the contract address, after which a list of methods is loaded.</p>
<p>The user provides the necessary inputs, and a gas estimate is given for confirmation.</p>
<p>The chosen method will be called using send() or call() depending on the method.<br>
The result is displayed to the user in a success or error banner.</p>
<h3 id="open-wallet">Open wallet</h3>
<p>Path: <code>https://wallet.lappsnet.io/auth</code></p>
<p>Simply opens the wallet for the user to operate.</p>
</div>
</body>

</html>
